<h1>Is a number even or odd?</h1></br>
</br>
<form action='/even-or-odd/result' method="get">
  What number would you like the check?
  <input type="text" name="num"></br>
  <input type="submit" value="submit">
</form>
