<!DOCTYPE html>
<html>
  <head>
    <title>Fibonacci</title>
  </head>
  <body>
    <h1>The Fibonacci Sequence - Out <%= @n %> terms:</h1>
    <p1><%= fibonacci(@n) %></p1><br>
    <a href="/fibonacci/<%=@n + 1%>">Add Another Term</a><br>
    <a href="/fibonacci/<%=@n -1%>">Subtract A Term</a>
  </body>
</html>
