<!DOCTYPE html>
<html>
  <head>
    <title>Fibonacci</title>
  </head>
  <body>
    <h1>The Fibonacci Sequence - Out <%= @n %> terms:</h1>
    <p1><%= fibonacci(@n) %></p1><br><br>
    <form action="/fibonacci/<%=@n + 1%>">
      <input type="submit" value="Add Another Term">
    </form>
    <form action="/fibonacci/<%=@n - 1%>">
      <input type="submit" value="Subtract Another Term">
    </form>
    <br>
    <br>
    <form action ="/fibonacci/">
      To what term should we go?
      <input type="text" name="term" value="#">
      <!--<input type="submit" value="Submit">-->
    </form>

  </body>
</html>
