<h1> Hello SHOUTED Form</h1>
<form action='/shouted-greeting-b/result' method="get">
  <input type="radio" name="greeting" value="hello">Hello</input></br>
  <input type="radio" name="greeting" value="howdy">Howdy</input></br>
  <input type="submit" value="submit">
</form>
