<h1>Check for a valid triangle!</h1></br>
</br>
<form action='triangle/result' method="get">
  What is the length of the first side? <input type="text" name="a"></br>
  What is the length of the second side? <input type="text" name="b"></br>
  What is the length of the third side? <input type="text" name="c"></br>
  <input type="submit" value="submit">
